body {
  padding: 0;
  margin: 0;
  background-color: #d6dede;
  font-size: 16px;
}

.container-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 134px auto;
  align-items: center;
}

.container {
  background-color: white;
  width: 25%;
  height: 516px;
  box-shadow: 0 0 17px rgba(122, 107, 107, 0.5);
  transition: all 0.25s ease-out;
}

.container:hover {
  transform: scale(1.05);
}

.girl {
  width: 100%;
}

.author {
  margin-left: 20px;
  margin-top: -330px;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.8125em;
}

.caption {
  margin-left: 20px;
  color: white;
  text-transform: uppercase;
  margin-top: -10px;
  line-height: 145%;
  font-family: sans-serif;
}

.button {
  color: black;
  background: white;
  border-radius: 3px;
  font-size: 0.625em;
  padding: 9px;
  margin: 20px;
  text-transform: uppercase;
}

.footer-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 42px;
  align-items: center;
}

.small-button {
  color: black;
  text-transform: uppercase;
  font-size: 0.625em;
}

.footer-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 6px;
  align-items: center;
}

.big-letter {
  text-transform: uppercase;
  font-size: 4.375em;
  margin-top: -11px;
  margin-left: -1%;
  color: black;
  float: left;
  margin-right: 4%;
  margin-bottom: 1%;
  height: 67px;
}

.text {
  margin-left: 10%;
  margin-top: 11%;
  margin-right: 6%;
}

.information {
  background: #efefef;
  height: 90.5%;
  padding-top: 4px;
  margin-top: 0%;
  font-family: "Slabo 27px", serif;
  color: #00000080;
}

.small-button1 {
  color: black;
  text-transform: uppercase;
  font-size: 0.625em;
  margin-top: 6%;
  margin-left: 7%;
}

.chat1 {
  position: absolute;
  margin-left: 19.5%;
  margin-top: -1.8%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.small-caption {
  width: 65%;
  text-align: right;
  padding: 0;
  margin: 0;
  font-size: 0.6em;
  text-transform: uppercase;
  font-family: sans-serif;
}

.cancel {
  width: 12px;
  height: 12px;
  margin-left: 66px;
}

.head {
  display: flex;
  align-items: center;
  height: 50px;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 80%;
}

.avatar {
  border-radius: 50%;
  width: 17%;
  margin-left: 10%;
  margin-right: 7%;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 79%;
  margin-top: -140%;
  margin-left: 28%;
  font-size: 0.6em;
  font-weight: bold;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 44px;
}

.comment {
  font-size: 0.7em;
  font-weight: inherit;
  margin-top: -10px;
  margin-left: -1%;
  margin-right: 8%;
}

.name {
  font-size: 0.78em;
  font-weight: bold;
}

.time {
  color: #0006;
  font-weight: normal;
}

.kal {
  font-size: 1.1em;
  color: #00000080;
  font-family: "Slabo 27px", serif;
  margin-top: 0%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 435px;
  margin-top: -12px;
}
